@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --font-size-sm: clamp(1.28rem, 0.17vw + 1.21rem, 1.43rem);
  --font-size-base: clamp(1.6rem, 0.34vw + 1.46rem, 1.9rem);
  --font-size-md: clamp(2rem, 0.61vw + 1.76rem, 2.53rem);
  --font-size-lg: clamp(2.5rem, 1vw + 2.1rem, 3.38rem);
  --font-size-xl: clamp(3.13rem, 1.56vw + 2.5rem, 4.5rem);
  --font-size-xxl: clamp(3.91rem, 2.38vw + 2.96rem, 6rem);
  --font-size-xxxl: clamp(4.88rem, 3.54vw + 3.47rem, 8rem);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  --dark: #101014;
  --light: #1b1a1d;
  --primary: #bbd8ec;
  --secondary-text: #666;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--dark);
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3,
h4 {
  font-size: var(--font-size-xl);
}

h5,
h6 {
  font-size: var(--font-size-lg);
}

p,
span,
input {
  font-size: var(--font-size-base);
}

.dark {
  filter: invert(1);

  .invert,
  img {
    filter: invert(1);
  }
}