@use '../../m.scss';

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  gap: 30px;

  @include m.mq (500px) {
    gap: 15px;
  }

  .searchBar {
    display: flex;
    height: 50px;
    max-width: 300px;
    width: 50%;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      padding: 0 10px 0 50px;
      background-color: var(--light);
      border: none;
      outline: none;
      color: var(--secondary-text);
      border-radius: 20px;
    }

    svg {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(0, -50%);
      fill: var(--secondary-text);
      cursor: pointer;
    }
  }

  .switch {
    display: flex;
    width: 100px;
    height: 50px;
    background-color: var(--light);
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;

    svg {
      z-index: 2;
      transition: 0.3s ease-in-out;
    }

    .switchState {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: var(--primary);
      top: 50%;
      left: 0;
      transform: translate(0, -50%) scale(1.07);
      border-radius: 50%;
      transition: left 0.3s ease-in-out;
    }

    .onIcon {
      fill: var(--secondary-text);
    }

    .onState {
      left: calc(100% - 50px);
    }
  }
}